Support for RS123 (353) on latest OpenWrt stable?

Hi,

will there be an update to support the latest OpenWrt stable release on the 353?
I have a bunch of RS123 devices and would like to make them available to the community for free WiFi networks as mesh offloaders. Would you be interested in helping to get them working?

Thanks in advance!

Hi,

I am currently working on the 24.10 update but there is some issues and I don't have enough time to solve these. Maybe I have to try again to make officials patchs and support (maybe by sending a device to developpers team).

Regarding the RS123 do you know the used SoC  ? The best thing to do is to plug a console cable ant to capture the boot log, and / or to have a firmware image for analysis.

Regards,

Sebastien.

Hi,

here's some hardware info for the RS123W (5510000341).
The RS123 (5510000340) model should be the same without WLAN.

- Lantiq™ XWAY™ VRX288 SoC @ 500Mhz

- Nanya NT5TU64M16HG-AC
  128MByte DRAM

- Macronix MX29GL256FLT2I-90Q (former AMD/Spansion S29GL256P)
  32MByte Flash

 - 1 x Lantiq PEF7072HL V1.5
    Single Port Gigabit Ethernet PHY (10/100/1000 Mbit/s) - XWAY™ PHY11G
    https://datasheet.octopart.com/PEF-7071-V-V1.5-Lantiq-datasheet-62314344.pdf
    -> towards SFP-Port
    plus Transformer

  - 2 x Lantiq PEF7071V V1.5
    Single Port Gigabit Ethernet PHY (10/100/1000 Mbit/s) - XWAY™ PHY11G
    https://datasheet.octopart.com/PEF-7071-V-V1.5-Lantiq-datasheet-62314344.pdf
    -> towards RJ45-Ports
    plus Transformer

  - Atheros based mPCI WLAN card


**OEM Bootlog**
```
### RS123w (Hardware-Rev. 1.0, Firmware-Rev. 1.0) ###

CPU   Check ... passed (MIPS 34KEc [MT] @ 500/250.0 MHz)
SDRAM Check ................................................................................................................................. passed (128 MByte)
FLASH Check  passed (32 MByte)

### Selftest passed ###

Press <sp> for boot monitor or any other key to boot system

RS123w Bootmonitor V.1.0 from 2013/10/31 00:00:00
Copyright (c) 1996-2013 by Bintec Elmeg GmbH

(1) Boot System
(2) Software Update via TFTP
(3) Software Update via XMODEM
(4) Delete Configuration
(5) Default Bootmonitor Parameters
(6) Show System Information

Your Choice> 6

### Start System information ###
Identification:              TELDAT ClosedEyeVisual
Hardware:                    1.0
Serial:                      RNOAAA014270199
Ethernet MAC 100BT:          00:a0:f9:41:7c:4e
Flash:                       32767 K/byte
RAM:                         131007 K/byte
### Current Software
Logic:                       1.0
Bootmon:                     V.1.0 from 2013/10/31 00:00:00
Boss:                        10.2.12.101
### more info
ID:                          RNO
Name:                        RS123w
Company (short):             BINTECELMEG
Type:                        RS123w
Company (long):              bintec elmeg GmbH
Features:                    0
### End System information ###

RS123w Bootmonitor V.1.0 from 2013/10/31 00:00:00
Copyright (c) 1996-2013 by Bintec Elmeg GmbH

(1) Boot System
(2) Software Update via TFTP
(3) Software Update via XMODEM
(4) Delete Configuration
(5) Default Bootmonitor Parameters
(6) Show System Information

Your Choice> 1
Booting Image from Flash ROM
Checking image ... OK
Writing image to RAM (Release 10.2.12.101) ........................................................................................................................)
Booting BOSS...
boss image started at 0x2d6a0

BOSS MIPS kernel v2.0 (RS123w)
Copyright (c) 1996-2019 by bintec elmeg GmbH
Version V.10.2.12.101 IPv6, IPSec from 2022/11/29 00:00:00

The system is coming up.

Speed index... 332.80 MIPS
Collecting Entropy........................................
Installed modules:
Slot: BoardId      SerialNo        
   0: SYS-VRX                       OK   
   1: GETH4+1                       OK   
   6: USB2                          OK   
   7: WLAN-ATH                      OK   
InstallModules = 0x4

The system is ready.

AUTOEXEC:
  1     date Sat Jan  1  0:00:35 2000 done
  1     configd   SystemId: RNOAAA014270199  Cfg: (default) done
  4     dslvrxd background
  5     sysconfigd background
  5     usbd background
  9     comd background
  10    isdnd background
  11    isdnautocf background
  19    ethoad background
  19    pppoad background
  19    rpoad background
  30    brd background
  30    ipd background
  51    telnetd background
  51    alertd background
  51    telnetd6 background
  51    stfd background
  51    snmpd background
  52    httpd background
  52    syslogd background
  68    pppoed background
  69    itpd background
  69    tud background
  70    routed background
  70    pppd background
  70    radiusd background
  70    tacacspd background
  70    gremprd background
  70    l2tpd background
  90    timed background
  97    dnsd background
  97    alived background
  97    scheduled background
  97    watchd background
  99    updated background
  99    vectoringd background
vectoringd: open vdslvectorx failed
  99    authd background
  99    supplicantd background
  99    vcapid background
  99    efmoamd background
  99    ddnsd background
  99    bootpd background
BOOTP: creating ipRouteTableEntry
BOOTP: Dest=192.168.0.0 IfIndex=1000000
BOOTP: NextHop=192.168.0.254 Mask=255.255.255.0
  99    resolvd background
  99    pingd background
  99    scfgmgrd background
  99    stunneld background
  99    serviced background
  99    dhcp6d background
  99    lispd background
  99    ipsecd background
  99    isdnlogind background
  99    sshd background
  99    traced background
  99    upnpd background
  99    capwapd background
  99    caad background
  99    wtpd background
  99    tr069d background

Welcome to RS123w version V.10.2.12.101 IPv6, IPSec from 2022/11/29 00:00:00
systemname is rs123w, location 

Login: admin

rs123w:> system
sysDescr( rw):           "RS123w" 
sysObjectID( ro):        .1.3.6.1.4.1.272.4.201.82.78.79.48.0.0
sysUpTime( ro):          0 00:00:37.23
sysContact( rw):         "BINTECELMEG" 
sysName( rw):            "rs123w" 
sysLocation( rw):        
sysServices( ro):        14

rs123w:> show drv
major     init     halt name          ticks   scnt smax description
    1   231dac        0 mib          unused ------ ---- BIANCA/MIB
    2   287570   2875a4 trcbuf       unused ------ ---- trace buffer drv
    3    1dd40        0 random       unused ------ ---- RANDOM drv
    4        0        0 miscctrl     unused ------ ---- MISC CTRL MODULE
    5    1fd2c        0 npipe        unused ------ ---- Named Pipe Emulation
    6        0        0 brif         unused ------ ---- Bridge/Interface
    7    72d40        0 bridge       unused ------ ---- Layer-2 bridge
    8    a5b84        0 ethoa        unused ------ ---- Bridged Ethernet (AAL5)
    9    b7980        0 ip            42971     15 12101 BIANCA/IP
   10    cbfd8    cc2b0 udp          103950     27 26617 BIANCA/UDP
   11    d325c        0 tcp          unused ------ ---- BIANCA/TCP
   12   111afc        0 dslite       unused ------ ---- DSLite
   13   1302e8        0 lisp         unused ------ ---- LISP
   14   14b3f4        0 pim            1497      1 1497 PIM
   15   14d690        0 binfile      unused ------ ---- BIANCA/binfile
   16        0        0 icbdebug     unused ------ ---- IPSec Callback Debug Interface
   17   19877c        0 pf           unused ------ ---- PathFinderMux
   18   1cd530        0 ipsec        unused ------ ---- BIANCA/IPSEC
   20        0   1f6f78 ipim           7335      5 1738 BIANCA/IPIM
   21   26f1a4        0 ppp          unused ------ ---- BIANCA/PPP
   22   2740fc        0 pppoa          3569      2 1937 PPPoA RFC 2364
   23   27853c        0 pppoe        unused ------ ---- PPPoE RFC 2516
   24   283a8c        0 rpoa         unused ------ ---- RPoA RFC 2684
   25   2893c4        0 tty          310759    447 4256 TTY Device
   26   289aa4        0 dmesg        unused ------ ---- dmesg drv
   27        0        0 syscon       unused ------ ---- System Console
   28   28eea4        0 com          unused ------ ---- BIANCA/COMX
   29   2b7820        0 gre          unused ------ ---- GRE
   30   2b7e00        0 tu              778      1  778 TunnelMux
   31   2bdb24        0 grempr       unused ------ ---- GRE MPR interface
   32   2c22ec        0 l2tp          37692      5 28542 L2TP/UDP Encapsulation
   33    24f1c        0 deu          unused ------ ---- DEU/Encryption
   34        0        0 ppesar       unused ------ ---- PPE/SAR
   35        0        0 vrx          unused ------ ---- Lantiq VRX288 VDSL2 PHY
   37        0        0 ppee         unused ------ ---- PPE/Ethernet
   38        0        0 ppef         unused ------ ---- EFM/VDSL
   39   216ef8   216ff4 db           unused ------ ---- ISDN Basic Rate ISAC/IPAC/IPACX
   40        0        0 ath          unused ------ ---- Atheros/WLAN
   41        0        0 usbx          29747     32 1759 USB_2.0_HC

rs123w:> show intr
Interrupts(282):

  1:        840   XWAY       CON-1
  3:          0   XWAY       DEU/Encryption
 11:          0   XWAY       USB_2.0_HC
 20:          0   XWAY       PPE/Ethernet
 21:          0   XWAY       USB_2.0_HC
 22:          0   XWAY       Atheros/WLAN
BAD:          0     spurious or short

rs123w:> show app
-data segment- -bss  segment-
address   size address   size    entry  stack name
 104f1d0   172  10d0440   512   3d2798      0 init
 104f27c   168  10d0640   536   3d2e18      0 ps
 104f324   168  10d0858   536   3d4674  32000 show
 104f3cc   168  10d0a70   512   3d6564  32000 showque
 104f474   168  10d0c70   512   3d73e8      0 dump
 104f51c   168  10d0e70   640   3d800c      0 bench
 104f5c4   168  10d10f0   520   3d8938      0 01 date
 104f66c   168  10d12f8   512   3d921c      0 patchx
 104f714   168  10d14f8   528   3d9d48      0 dmesg
 104f7bc   240  10d1708   512   3da5f8  32000 profile
 104f8ac   168  10d1908   512   3dba44      0 tip
 104f954   168  10d1b08   520   3dc5b8      0 miscctrl
 104f9fc   172  10d1d10   520   3dd3d4      0 grep
 104faa8   168  10d1f18   512   3ddf54      0 nice
 104fbf8   776  10d2320 134888   3e002c   4000 update
 104ff00   176  10f3208  1048   3ea388   6000 99&updated
 104ffb0   856  10f3620 17768   3ec13c  32000 dsl
 1050308   168  10f7b88   512   3eedf0      0 04&dslvrxd
 10503b0   168  10f7d88   512   3ef3a4      0 99&vectoringd
 1050458   180  10f7f90 10164   3efd88  10240 99&authd
 105050c   180  10fa750 10088   42f59c  10240 99&supplicantd
 10505c0   180  10fceb8   512   469d74   2048 30&brd
 1050674   188  10fd0b8   544   46a4b0      0 99&vcapid
 1050730  5640  10fd2e0 83720   46be50  65536 52&httpd
 1051d38   172  11119f0   800   48d168  16000 maint
 1051de4   176  1111d10   528   490560      0 ifstat
 1051e94   168  1111f20   512   4915d8      0 netstat
 1051f3c   180  1112120   520   492e1c      0 physifstat
 1051ff0   172  1112328   536   4940c4      0 19&ethoad
 105209c   168  1112540   512   494a98      0 99&efmoamd
 1052144   168  1112740   528   495c9c      0 30&ipd
 10521ec   168  1112950   520   496a24      0 51&telnetd
 1052294   172  1112b58   520   49737c      0 ping
 1052340   180  1112d60   696   498588      0 ifconfig
 10523f4   212  1113018   544   49a25c      0 90&timed
 10524c8   172  1113238  1088   49d660      0 52&syslogd
 1052574   168  1113678   512   49f600  10000 traceroute
 105261c   168  1113878   520   4a08e4      0 telnet
 10526c4   168  1113a80   640   4a1cf4  10000 rtlookup
 105276c   168  1113d00   608   4a2924  10000 sclist
 1052814   176  1113f60  8744   4a351c   1000 spray
 10528c4   272  1116190  1480   4a44e0  10000 70&routed
 10529d4   176  1116758   520   4acd68      0 route
 1052a84   304  1116960   584   4adac0  16384 99&ddnsd
 1052bb4   292  1116bb0  2932   4b3ff0  64000 99&bootpd
 1052cd8   336  1117728  3736   4c67a8   1024 51&alertd
 1052e28   172  11185c0  4916   4ca8d8   4096 97&dnsd
 1052ed4   172  1119900   564   4d84b4      0 99&resolvd
 1052f80   172  1119b38   568   4da110      0 nslookup
 105302c   172  1119d70  1680   4dd024      0 97&alived
 10530d8   168  111a400   520   4e036c      0 99&pingd
 1053180   176  111a608   560   4e15c4  16384 99&scfgmgrd
 1053230   168  111a840   552   4e3710      0 99&stunneld
 10532d8   168  111aa70   656   4e4ac0      0 stunnel
 1053380   168  111ad00   828   4e8b48      0 99&serviced
 1053428   168  111b040   520   4eb948      0 51&telnetd6
 10534d0   272  111b250   656   4ec24c      0 ping6
 10535e0   168  111b4e0   576   4ed7f8  10000 traceroute6
 1053688   192  111b720   648   4eea00  10000 rtlookup6
 1053748   176  111b9a8   584   4efa04      0 51&stfd
 10537f8   380  111bbf0   600   4f1608  16384 99&dhcp6d
 1053974   168  111be48   520   5026b8      0 99&lispd
 1053a1c  1756  111c050   954   502f78  64000 99&ipsecd
 10540f8   192  111c410   520   59d684  32000 key
 10541b8   172  111c618   528   59ed68  32000 cert
 1054264   172  111c828   512   5a2048  32000 ipsec
 1054310   168  111ca30  1280   5a2750      0 10&isdnd
 10543b8   628  111cf30   768   5a48f4      0 isdnlogin
 105462c  3360  111d230   512   5a6c30      0 99&isdnlogind
 105534c   172  111d430   520   5a8ee0      0 11&isdnautocf
 10553f8   168  111d640   764   5abab4      0 69&itpd
 10554a0   780  111d940  4432   5ad0fc  20000 01 configd
 10557ac   188  111ea90  1068   5c35cc  16000 51&snmpd
 1055868   284  111eec0  1536   5c995c  12288 sh
 1055984   168  111f4c0   768   5d7668      0 showmib
 1055a2c   180  111f7c0   584   5d88f8   2000 debug
 1055ae0   188  111fa10   616   5d99b0   4096 97&scheduled
 1055b9c   452  111fc78   512   5dde40   2048 05&sysconfigd
 1055d60   168  111fe78   512   5deb8c  10240 showhmib
 1055e08  1432  1120078   512   5dfc8c  10000 sia
 10563a0  1916  1120280 15064   5e0df8  65536 99&sshd
 1056b20   208  1123d60  2784   6010c8  32768 ssh-keygen
 1056bf0  1252  1124840  5312   606d74  32768 ssh
 10570d4   168  1125d00   536   620b7c      0 70&pppd
 105717c   568  1125f20  9936   6225b4      0 70&radiusd
 10573b4   168  11285f0   564   62dd90      0 70&tacacspd
 105745c   172  1128828   536   6319ac      0 19&pppoad
 1057508   168  1128a40   544   6322b0      0 68&pppoed
 10575b0   172  1128c60   536   632b94      0 19&rpoad
 105765c 266448  1128e80 71232   63346c  10000 setup
 109872c   168  113a4c0  2576   6f4b48  65536 trace
 10987d4   168  113aed0   560   6f6c94      0 99&traced
 109887c   168  113b100   560   6f898c      0 09&comd
 1098924   168  113b330   520   6f9914      0 69&tud
 10989cc   168  113b538   512   6fa374      0 70&gremprd
 1098a74   168  113b740   528   6faa84      0 70&l2tpd
 1098b1c   192  113b950  1884   6fb8a8      0 99&upnpd
 1098bdc   168  113c0b0   512   714fd8      0 upnpsub
 1098c84   336  113c2b0  5576   715b98  16384 97&watchd
 1098dd4   940  113d880  5640   71cd14  64000 99&capwapd
 1099180   168  113ee88   512   73c4f4  16384 99&caad
 1099228  1252  113f090  4648   73f01c  64000 99&wtpd
 109970c   624  11402b8   512   75d1ec      0 wlibio
 109997c  2856  11404b8   512   75f2b0      0 atherosio
 109a4a4   548  11406b8 34392   762320  32768 gui
 109a6c8 16756  1148d10 65816   76ef4c  65536 99&tr069d
 109f990  1812  1158e28   824   7e06d8  32768 tr069sh
 10a014c   184  1159160   601   7f7ecc      0 tr069httpd
 10a0204   404  11593c0 64959   7fa230  10000 05&usbd

rs123w:> update -i 

Flash-ROM management shell

Flash-Sh > info
Bank # 0:       AMD/Spansion S29GL256P (32 MByte)
----------------------------
   Total: 19718 KBytes free

rs123w:> biboAdmBoardTable

inx Slot(*ro)         Type(ro)          HWRelease(ro)     FWRelease(ro)     
    PartNo(ro)        Unit(*ro)         SerialNo(ro)      Category(ro)      

  0 0                 "RS123w (32/128 M "1.0"             "1.0"             
    "RS123w"          0                 "RNOAAA014270199" system_board      

  1 0                 "RED/DEU"         "1.5"             "1.2"             
    "FM-CRYPT"        5                                   crypt             

  2 1                 "RED/100BT"       "1.0"             "1.0"             
    "RED-100SW"       0                                   ethernet          

  3 7                 "ATHEROS/WLAN"    "1.1"             "0.0"             
    "CM-WLAN"         0                                   wlan              

rs123w:> biboAdmCardTable

inx Slot(*ro)                            Type(ro)                             
    State(ro)                            CpldVersion(ro)                      
    FpgaVersion(ro)                      Temp(ro)                             
    TempAlarmThreshold(rw)               TempAlarmTrap(ro)                    
    Admin(rw)                            TempAlarmThresholdCriticalLow(rw)    

  0 6                                    "D-USB"                              
    running                                                                   
                                         0                                    
    60                                   normal                               
    up                                   0                                

RS123w Setup Tool                                             bintec elmeg GmbH
[LICENSE]: Licenses                                                      rs123w
_______________________________________________________________________________

   Available Licenses:
     BRIDGE, CAPI, IP (builtin), HARDWARE-ENCRYPTION, IPSEC(5/10), TUNNELING,
     PPTP, WLAN-CONTROLLER(6/72)

   Software License ID: RNOAAA014270199

   Serialnumber       Used for                Description         State
   default            Software                easy licensing      ok           
   RNOIPSFRFactory    Software                IPSEC               ok
   RNOPPTFRFactory    Software                PPTP                ok
   RNODEA00Factory    Software                HARDWARE-ENCRYPTION ok
   RNOWLCFRFactory    Software                WLAN-CONTROLLER     ok

     ADD                 DELETE              EXIT
_______________________________________________________________________________
Press <Ctrl-n>, <Ctrl-p> to scroll, <Space> tag/untag DELETE, <Return> to edit
```

cheers,
Martin